# Ignore everything

*.exe
*.json
!/sourcemod/addons/scripting
/sourcemod/addons/scripting/include/*
!/sourcemod/addons/scripting/include/customdrones.inc
!/sourcemod/addons/scritping/include/drones
!/sourcemod/addons/scritping/drones

