# Ignore everything

*.exe
*.json
*.smx
!/addons/sourcemod/scripting
/addons/sourcemod/scripting/include/*
!/addons/sourcemod/scripting/include/customdrones.inc
!/addons/sourcemod/scripting/include/drones
!/addons/sourcemod/scripting/drones

